[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ndh = "*"
dmdm = "*"

[dev-packages]
setuptools-scm = "*"
mypy = "*"
pydocstyle = "*"
pre-commit = "*"
django-stubs = "*"
