Django<1.11  # django-bootstrap3 is not yet ready for 1.11
django-bootstrap3
django-registration-redux
python-memcached
gunicorn
psycopg2
-e git://github.com/Nim65s/django-YummyEmailOrUsernameInsensitiveAuth.git#egg=django-yeouia
