<p>Bonjour !</p>


<p>Vous (ou quelqu’un prétendant être vous) a demandé de créer un compte sur {{ site.name }}.
<br><br>
Si ce n’était pas vous, vous pouvez ignorer ce mail.</p>

<p>Pour active ce compte, cliquez simplement sur ce lien dans les {{ expiration_days }} jours:
<br><br>
<a href="https://{{site.domain}}{% url 'registration_activate' activation_key %}">
  https://{{site.domain}}{% url 'registration_activate' activation_key %}</a></p>


<p>
Cordialement,<br>
l’équipe de {{ site.name }}.</p>
