{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
<h1>Mon Profil</h1>

<h2>Mes données de connexion</h2>

<table class="table table-condensed">
  <tr><th>Nom d’utilisateur</th><td>{{ object }}</td></tr>
  <tr><th>Email</th><td>{{ object.email }}</td></tr>
  <tr><th>Prénom</th><td>{{ object.first_name }}</td></tr>
  <tr><th>Nom</th><td>{{ object.last_name }}</td></tr>
</table>

<p class="text-center"><a href="{% url 'profil-user' %}" class="btn btn-primary">Modifier</a></p>

<h2>Mes données de contact</h2>

<table class="table table-condensed">
  <tr><th>Téléphone</th><td>{{ object.caracolien.phone_number }}</td></tr>
  <tr><th>Addresse</th><td>{{ object.caracolien.address|linebreaks }}</td></tr>
  <tr><th>Adhérent</th><td>{{ object.caracolien.adherent|yesno:"✔,✘" }}</td></tr>
  <tr><th>Dernière adhésion</th><td>{{ object.caracolien.adhesion|default_if_none:"Jamais" }}</td></tr>
</table>

<p class="text-center"><a href="{% url 'profil-caracolien' %}" class="btn btn-primary">Modifier</a></p>

<h2>Mon mot de passe</h2>

<p class="text-center">
<a href="{% url 'profil-password' %}" class="btn btn-primary">Modifier</a>
<a href="{% url 'auth_password_reset' %}" class="btn btn-warning">Réinitialiser</a>
</p>

{% endblock %}
