{% extends "videgrenier.html" %}{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Vide Grenier</li>
{% endblock %}

{% block videgrenier %}
<h1>Vide Grenier</h1>

<p>Vers une manifestation qui intègre un développement durable, solidaire et citoyen.</p>

<h2>Objectifs de la manifestation</h2>

<ul> <li>Faire circuler des objets</li> <li>Acheter moins cher</li>
  <li>Aboutir à un projet collectif pour limiter l'impact sur l'environnnement et favoriser les initiaves citoyennes</li>
</ul>

<h2>Informations pratiques</h2>

<p>Préinscriptions sur <a href="{% url 'videgrenier:reservation' %}">ce site</a>, permanences pour:
<ul>
  <li>Finalisation des inscriptions</li>
  <li>Dépôt des dossiers complets</li>
  <li>Choix des emplacements</li>
</ul>
</p>

<dl class="row">
  <dt class="col-sm-3">Date du vide grenier</dt><dd class="col-sm-9">{{ DATES_VIDE_GRENIER.event }}, de 8h à 18h</dd>
  <dt class="col-sm-3">Début des inscriptions</dt><dd class="col-sm-9">{{ DATES_VIDE_GRENIER.open }}</dd>
  <dt class="col-sm-3">Fin des inscriptions</dt><dd class="col-sm-9">{{ DATES_VIDE_GRENIER.close }}</dd>
  <dt class="col-sm-3">Téléphone</dt><dd class="col-sm-9">07 83 91 66 33</dd>
  <dt class="col-sm-3">Permanences</dt><dd class="col-sm-9">{% for date in DATES_VIDE_GRENIER.inscriptions %}{{ date }}, {% endfor %} de 14h00 à 18h00</dd>
</dl>

<h2>Prix de l’emplacement</h2>

<dl class="row">
  <dt class="col-sm-3">Personne extérieure</dt><dd class="col-sm-9 euro text-left">14</dd>
  <dt class="col-sm-3">Membre de l’association</dt><dd class="col-sm-9 euro text-left">12</dd>
  <dt class="col-sm-3">Salarié de l’association</dt><dd class="col-sm-9 euro text-left">10</dd>
</dl>

<h2>Inscription</h2>
<div class="text-center">
  {% if request.user.is_authenticated %}
  <a href="{% url 'videgrenier:reservation' %}" class="btn btn-primary" role="button">Accéder à l’interface de réservation</a>
  {% else %}
  <div class="alert alert-info">Avant de pouvoir vous inscrire pour le vide grenier, vous devez créer un compte:</div>
  <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary" role="button">Se connecter</a>
  {% endif %}
</div>

<h2>Charte</h2>
<object data="{% static 'documents/CharteVideGrenier-2015.pdf' %}"
  type="application/pdf" width="100%" height="1000px" typemustmatch>
    <p>Vous n'avez pas de plugin pour lire des fichiers PDF mais vous pouvez
    <a href="{% static 'documents/CharteVideGrenier-2015.pdf' %}">télécharger le fichier PDF correspondant.</a></p>
</object>
{% endblock %}
