{% extends "base.html" %}
{% load ndh %}

{% block content %}
<h1>Vide Grenier: Réglement</h1>

<p>
L’association Caracole organise le {{ DATES_VIDE_GRENIER.event }} une journée vide-grenier.
<ol>
  <li> Cette journée est ouverte uniquement aux exposants non professionels.</li>
  <li> Les exposants de ce vide-grenier s'engagent à ne pas avoir participé à plus d'une manifestation de même nature
    depuis le 1er janvier </li>
  <li> L'association n'est pas responsable des objets, œuvres ou marchandises exposés.</li>
  <li> La vente des objets exposés doit se faire sous la responsabilité des exposants. </li>
  <li> Le droit de place est fixé à 14 € par stand de 4m x 4m. Par ailleurs, les membres de l’association et les
    salariés de l'association bénéficient d'un tarif préférentiel pour un stand, respectivement, 12 et 10 €. Sur ce
    droit 2 euros sont collectés pour la mairie de Ramonville au titre de la Redevance pour l'utilisation du
    domaine public. Cette somme sera reversée à la mairie.</li>
  <li> Les stands peuvent être réservés dans la limite des places disponibles jusqu'au 21/06/2017. L’exposant devra
    avoir acquitté son droit de place avant son installation. </li>
  <li> Il est strictement interdit de vendre tout type d'arme (y compris couteaux à longue lame), des animaux,
    de la nourriture.</li>
  <li> Cette journée est ouverte:
    <ul>
      <li>De 6h à 8h pour le montage des stands.</li>
      <li>Les véhicules resteront <font color='red'>en dehors de l'enceinte du port de 8h et 18h.</font></li>
      <li>Le vide-grenier est ouvert au public de 8h à 18h.</li>
    </ul>
  </li>
  <li> L'association ne fournit pas de chaises ni de tables aux exposants.</li>
  <li> L'association se réserve le droit de refuser un emplacement sans présentation d'une pièce d'identité
    valide.</li>
  <li> Le vide grenier est maintenu quelques soient les conditions météorologique. l'association ne procèdera pas au
    remboursement des emplacements payés</li>
  <li> Si vous participez au vide grenier en tant qu'exposant, les données vous concernant seront transmises à la police
    administrative de Toulouse en conformité avec la loi n°87-962 du 30 novembre 1987 relative à la prévention et à la
    répression du recel et organisant la vente ou l'échange d'objets mobiliers.</li>
</ol>
Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant (loi
« Informatique et Libertés » du 6 janvier 1978). Pour toute demande, adressez-vous à :
{% show_email "association.caracole@gmail.com" %}
</p>


{% endblock %}
